.container {
    position: fixed;
    width: 100%;
    height: 100%;
    .nav-right {
        width: 140rpx;
        // border: 1px solid #ffffff;
        margin: auto 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: -30rpx;
        height: 60rpx;
        // align-items: center;
        // background-color: rgba(255, 255, 255, 0.2);
        // border-radius: 50rpx;
        .nav-icon {
            // border: 1px solid #ffffff;
        }
    }
    .global-title {
        width: 243rpx;
        height: 64rpx;
        position: absolute;
        top: 170rpx;
        right: 32rpx;
        z-index: 10;
    }
    .guide-image {
        width: 496rpx;
        height: 421rpx;
        position: absolute;
        top: 40rpx;
        right: 20rpx;
        z-index: 10;
    }
    .bg-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .slogon {
        position: absolute;
        top: 10%;
        width: 100%;
        height: 260rpx;
    }
    .download-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 500rpx;
        height: 160rpx;
        z-index: 5;
        .download-icon {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .stick-control {
        position: absolute;
        bottom: 200rpx;
        left: 0;
        width: 100%;
        height: 350rpx;
        // border: 1px solid #ffffff;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        // pointer-events: none; // 确保不阻挡其他元素的触摸事件
        .tip-stick {
            margin-top: 150rpx;
            width: 100%;
            height: 70%;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 50rpx;
            // pointer-events: none; // 确保贴纸提示不阻挡触摸事件
            .tip-stick-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .reupload-btn {
        position: absolute;
        top: 60%;
        right: 18%;
        width: 160rpx;
        height: 80rpx;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        .reupload-icon {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.upload-area {
    // border: 1px solid red;
    width: 100%;
    height: 900rpx;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);

    .tips {
        width: 60%;
        height: 50%;
        // border: 1px solid #cdf91d;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff45;
        font-size: 28rpx;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }
    .school {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 74%;
        left: 43%;
        transform: rotate(5deg);
        color: #aaaaaa;
        font-size: 18rpx;
        text-align: center;
        white-space: nowrap;

        .school-name {
            font-weight: 600;
            font-size: 35rpx;
        }
    }

    .stick-container {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        pointer-events: none; // 照片框不阻挡触摸事件
        transition: all 0.3s ease-in-out;
    }

    .upload-bg {
        width: 90%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        pointer-events: none; // 背景图也不阻挡触摸
    }

    .uopload-stick {
        // border: 1px solid #cdf91d;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        pointer-events: none; // 贴纸也不阻挡触摸
    }
}

.image-container {
    width: 100%;
    height: 900rpx;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: auto; // 确保用户图片可以响应触摸
    clip-path: inset(15% 13.5% 17% 12.5%);
    background-color: #cccccc;

    .image-wrapper {
        position: absolute;
        left: 40%;
        top: 35%;
        margin-left: -100px;
        margin-top: -100px;
        touch-action: none;
        transition: none;
        pointer-events: auto; // 确保图片包装器可以响应触摸
        overflow: hidden;
        // clip-path: inset(15% 15% 17% 12.5%);
        width: 550rpx;
        height: 550rpx;
        .user-image {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            pointer-events: none; // 图片本身不需要响应事件，由包装器处理
            object-fit: cover;
            pointer-events: auto;
        }
    }
}

.hidden-canvas {
    position: fixed;
    top: -9999px;
    left: -9999px;
    width: 750px; /* 与绘制尺寸保持一致 */
    height: 1270px; /* 与绘制尺寸保持一致 */
    border: none;
    background: transparent;
}
