@mixin second-title-style {
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    .second-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 32rpx;
        font-weight: 700;
        color: rgba(26, 28, 30, 1);
        .icon {
            margin-right: 12rpx;
            width: 40rpx;
            height: 40rpx;
        }
    }
}

.hello-container {
    color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../../static/hello-bg.png) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .global-title {
        width: 243rpx;
        height: 64rpx;
        position: absolute;
        top: 100rpx;
        left: 32rpx;
        z-index: 10;
    }
    .header {
        position: absolute;
        top: 208rpx;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 686rpx;
        height: 200rpx;
        .title {
            font-size: 100rpx;
            font-weight: 700;
            color: rgba(26, 28, 30, 1);
            .bar {
                width: 100%;
                height: 12rpx;
                background: linear-gradient(90deg, rgba(211, 248, 79, 1) 0%, rgba(167, 238, 39, 1) 100%);
                border-radius: 6rpx;
                margin-top: -38rpx;
            }
        }

        .describe {
            margin-top: 16rpx;
            font-size: 40rpx;
            color: rgba(16, 18, 19, 1);
            font-weight: 500;
        }
    }
    .main {
        position: absolute;
        top: 500rpx;
        width: 686rpx;
        height: 682rpx;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .sex-container {
            width: 100%;
            @include second-title-style;
            .sex-choice-container {
                display: flex;
                justify-content: space-evenly;
                margin-top: 42rpx;
                .male,
                .female {
                    width: 278rpx;
                    height: 292rpx;
                    image {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .birth-container {
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            @include second-title-style;
            .date-container {
                width: 686rpx;
                height: 84rpx;
                border-radius: 42rpx;
                background: rgba(255, 255, 255, 1);
                border: 2rpx solid rgba(151, 151, 151, 0.34);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                color: rgba(152, 153, 153, 1);
                font-size: 36rpx;
                font-weight: 500;
                padding: 0 36rpx;
                box-sizing: border-box;
                margin-top: 32rpx;
                .date-icon {
                    // border: 1px solid rgba(151, 151, 151, 0.34);
                    width: 36rpx;
                    height: 32rpx;
                }
                .more-icon {
                    // border: 1px solid rgba(151, 151, 151, 0.34);
                    width: 48rpx;
                    height: 48rpx;
                }
                .date-display {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 450rpx;
                    // border: 1px solid red;
                    .year,
                    .month,
                    .day {
                        // border: 1px solid rgba(151, 151, 151, 0.34);
                        width: 50rpx;
                        color: rgba(26, 28, 30, 1);
                        font-size: 36rpx;
                        font-weight: 700;
                        margin-left: 50rpx;
                        text-align: center;
                        // border: 1px solid red;
                    }
                    .year {
                        margin-left: 0;
                        width: 90rpx;
                        margin-right: 10rpx;
                    }
                }
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 126rpx;
        .next {
            font-size: 28rpx;
            font-weight: 700;
            width: 686rpx;
            height: 90rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 42rpx;
            background: linear-gradient(233.19deg, rgba(211, 248, 79, 1) 0%, rgba(167, 238, 39, 1) 100%);
        }
    }
}
