.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .card {
        width: calc(100% - 64rpx);
        height: 716rpx;
        margin: 32rpx;
        overflow: hidden;
        border-radius: 32rpx;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10rpx);
        box-shadow:
            inset 0rpx 0rpx 18rpx rgba(255, 255, 255, 1),
            0rpx 8rpx 20rpx rgba(112, 125, 88, 0.27);
        .audio-player {
            background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
            height: 100%;
            padding: 40rpx 32rpx;
        }

        .category-selector {
            background: rgba(255, 255, 255, 0.9);
            border-radius: 25rpx;
            margin-bottom: 60rpx;
            backdrop-filter: blur(10rpx);
            position: relative;
        }

        .category-tabs {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .category-tab {
            font-size: 28rpx;
            color: #666;
            padding: 10rpx 20rpx;
        }

        .indicator-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 40rpx;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .audio-card {
            margin-bottom: 32rpx;
            display: flex;
            align-items: center;
        }

        .audio-cover {
            width: 198rpx;
            height: 198rpx;
            padding: 3rpx;
            box-sizing: border-box;
            border-radius: 20rpx;
            overflow: hidden;
            margin-right: 30rpx;
            border: 6rpx solid rgba(255, 255, 255, 1);
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .cover-image {
            width: 100%;
            height: 100%;
            border-radius: 20rpx;
        }

        .audio-info {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .audio-title {
            font-size: 42rpx;
            font-weight: 700;
            color: rgba(16, 18, 19, 1);
            margin-bottom: 15rpx;
        }

        .audio-desc {
            font-size: 24rpx;
            font-weight: 400;
            letter-spacing: 0rpx;
            line-height: 32.92rpx;
            color: rgba(152, 153, 153, 1);
            margin-bottom: 44rpx;
        }

        .audio-time {
            font-size: 24rpx;
            color: #999;
        }

        .control-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .row {
            display: flex;
            gap: 32rpx;
        }
        wx-button {
            padding: 0 !important;
        }
        wx-button:after {
            border: none !important;
        }
        .control-btn {
            width: 80rpx;
            height: 80rpx;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn-icon {
            width: 40rpx;
            height: 40rpx;
        }

        .play-btn {
            width: 120rpx;
            height: 120rpx;
            background: linear-gradient(180deg, rgba(211, 248, 79, 1) 0%, rgba(167, 238, 39, 1) 100%);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .play-icon {
            width: 38rpx;
            height: 46rpx;
        }
    }

    /* 节目列表标题 */
    .list-title {
        width: fit-content;
        position: relative;
        z-index: 5;
        font-size: 32rpx;
        font-weight: 700;
        margin: 32rpx;
        &::after {
            content: "";
            width: 142rpx;
            height: 13rpx;
            border-radius: 6.56px;
            background: linear-gradient(243.43deg, #cefa1e 0%, #a7ee27 100%);
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }
    }

    /* 可滚动的节目列表容器 */
    .list {
        // 底部安全距离
        box-sizing: border-box;
        padding-bottom: 220rpx;
        height: 600rpx;
        border-radius:
            24rpx 24rpx,
            0rpx,
            0rpx;
        background: #fff;
        overflow-y: auto;

        /* 顶部模糊过渡效果 */
        mask: linear-gradient(
            to bottom,
            transparent 0%,
            rgba(0, 0, 0, 0.3) 20rpx,
            rgba(0, 0, 0, 0.8) 60rpx,
            black 100rpx
        );
        -webkit-mask: linear-gradient(
            to bottom,
            transparent 0%,
            rgba(0, 0, 0, 0.3) 20rpx,
            rgba(0, 0, 0, 0.8) 60rpx,
            black 100rpx
        );
        .item {
            padding: 24rpx 0;
            margin: 0 30rpx;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2rpx dashed rgba(231, 236, 238, 1);
            .title {
                font-size: 28rpx;
                font-weight: 500;
                margin-bottom: 8rpx;
            }
            .info {
                font-size: 24rpx;
                font-weight: 400;
                color: rgba(152, 153, 153, 1);
            }
            .row {
                display: flex;
                gap: 24rpx;
            }
            .star {
                width: 76rpx;
                height: 56rpx;
                border-radius: 26rpx;
                display: flex;
                align-items: center;
                justify-content: center;
                image {
                    width: 100%;
                    height: 100%;
                }
            }
            .play {
                width: 76rpx;
                height: 56rpx;
                border-radius: 26rpx;
                background: linear-gradient(180deg, rgba(211, 248, 79, 1) 0%, rgba(167, 238, 39, 1) 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                image {
                    width: 19.09rpx;
                    height: 26rpx;
                }
            }
        }
    }
}
